<!-- <p>{{title}}</p> -->

<!-- Two ways binding. Bindeo de variable es en ambas direcciones -->
<!-- [(ngModel)] es directiva con evento -->
<!-- si pongo [class] es directiva y toma el valor de variable de clase, class sin [] es el atributo -->
<!-- <input type="text" [(ngModel)] = "title"> -->
<!-- <input type="text" [value] = "title" (change) = ""> -->


<!-- [disabled] es directiva de atributo y puede contener una expresion -->
<!-- Angular interpreta lo que está entre " " como un método. Un string debe estar entre ' ' -->
<!-- One way binding porque la variable fluye del modelo hacia la vista -->
<!-- <button [disabled]="modificado" (click)="cambiarTitle()">Cambiar title</button> -->
<!-- <button [disabled]="modificado && title !== ''" (click)="cambiarTitle()">Cambiar title</button> -->
<!-- <button [disabled]="modificado !== true" (click)="cambiarTitle()">Cambiar title</button> -->

<!-- {{expresion}} -->
<!-- [directiva de atributo] -->
<!-- (evento) -->
<!-- Contador -->
<form [formGroup]="myLogin" (ngSubmit)="login()">
    <div>
        <label>Email</label>
        <input type="email" formControlName="email">
    </div>
    <br>
    <div>
        <label>Password</label>
        <input type="password" formControlName="password">
    </div>
    <br>
    <button [disabled]="myLogin.invalid" type="submit">Login</button>
</form>